<!DOCTYPE html>
<html>
  <head>
    <title>RightStrike</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link href='http://fonts.googleapis.com/css?family=Fresca' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <script type="/js/bootstrap.min.js"></script>
    <script src='/js/jquery.js'></script>
    <script src='/js/chart.js'></script>
    <script src='/js/graph.js'></script>
    <script src="//connect.facebook.net/en_US/all.js"></script>
<div id="fb-root"></div>

    <header>
      <div id="header-bg"></div>
      <div id="header-wrapper">
        <div class="span6" style="margin-left: 0;">
          <a href="#"><img src="/img/logo.png"><h1 style="margin:20px 30px;">RIGHTSTRIKE</h1></a>
        </div>
        <div id="subtitle" class="span6"><h3>Your feet are mad at you bro. You just don't know it yet.</h3></div>
      </div>
    </header>
    <div id="content">
      <div class="row" id="two">
        <div id="sidetab" class="span3" >
          <button id="statsBtn"><h3>Stats:</h3></button>
          <button id="calendarBtn"><h3>Calender:</h3></button>
        </div>
        <div class="span9" id="right">
          <h3>You ain't run enough yet!</h3>
          <table id="stats">
            <tr>
              <td>
                Average Ratio:
              </td>
              <td>
                Best
              </td>
              <td>
                Worst
              </td>
            </tr>
            <tr>
              <td>
                62.48%
              </td>
              <td>
                74.56%
              </td>
              <td>
                37.89%
              </td>
            </tr>    
          </table>      
          <table id="calendar">
            <td>
            <p>1</p>
            <p>wed</p>
            </td>
            <td>
            <p>2</p>
            <p>thur</p>
            </td>
            <td>
            <p>3</p>
            <p>fri</p>
            </td>
            <td>
            <p>4</p>
            <p>sat</p>
            </td>
            <td>
            <p>6</p>
            <p>sun</p>
            </td>
            <td>
            <p>7</p>
            <p>mon</p>
            </td>
            <td>
            <p>8</p>
            <p>tue</p>
            </td>
            <td>
            <p>9</p>
            <p>wed</p>
            </td>
            <td>
            <p>10</p>
            <p>thur</p>
            </td>
            <td>
            <p>11</p>
            <p>fri</p>
            </td>
            <td>
            <p>12</p>
            <p>sat</p>
            </td>
            <td>
            <p>13</p>
            <p>sun</p>
            </td>
            <td>
            <p>14</p>
            <p>mon</p>
            </td>
            <td>
            <p>15</p>
            <p>tue</p>
            </td>
            <td>
            <p>16</p>
            <p>wed</p>
            </td>
            <td>
            <p>17</p>
            <p>thur</p>
            </td>
            <td>
            <p>18</p>
            <p>fri</p>
            </td>
            <td>
            <p>19</p>
            <p>sat</p>
            </td>
            <td>
            <p>19</p>
            <p>sun</p>
            </td>
            <td>
            <p>20</p>
            <p>mon</p>
            </td>
            <td>
            <p>21</p>
            <p>tue</p>
            </td>
            <td>
            <p>22</p>
            <p>wed</p>
            </td>
            <td>
            <p>23</p>
            <p>thur</p>
            </td>
            <td>
            <p>24</p>
            <p>fri</p>
            </td>
            <td>
            <p>25</p>
            <p>sat</p>
            </td>
            <td>
            <p>26</p>
            <p>sun</p>
            </td>
            <td>
            <p>27</p>
            <p>mon</p>
            </td>
            <td>
            <p>28</p>
            <p>tue</p>
            </td>
            <td>
            <p>29</p>
            <p>wed</p>
            </td>
            <td>
            <p>30</p>
            <p>thur</p>
            </td>
            <td>
            <p>31</p>
            <p>fri</p>
            </td>
          </table>
<style>
  h1 {text-align: center},
  #chart-bg h3 {text-align: center}
</style> 
        </div>
      </div>
      <div id="chart-bg">
            <br><br>
            <h1 style="top: 10px;">Toe Strikes to Total Strikes <%= title %></h1>
    <canvas id="The_Chart" width="1100" height="400"></canvas>
    <h3><center>Time</center></h3>  
      </div>
    </div>
  <script>
  $(document).ready(function() {
    $('#stats').toggle(false);
    $('#calendar').toggle(false);
    $('#calendarBtn').click(function() {
      $('#calendar').animate({width: ['toggle','swing']}, 100, 'exp');
      $('#stats').hide();
      $('#right h3').hide();
    });
    $('#statsBtn').click(function() {
      $('#calendar').hide();
      $('#stats').animate({width: ['toggle','swing']}, 100, 'exp');
      $('#right h3').hide();
    });
  });
  </script>


	<script>$(document).ready(function()
	{
    var chart_data_json = <%- JSON.stringify(chart_data) %>;
		build_graph(chart_data_json);
    });</script>
	

  </body>
</html>
